{% extends "base.html.j2" %}
{% block title %}Login{% endblock %}
{% block content %}

    <style>
        .title{
            margin: 0 auto;
            text-align: center;
        }

        .container {
          width: 300px;
          padding: 16px;
          margin: 0 auto;
          margin-top: 110px;
          border-radius: 20px;
          border-color: black;
          border-style: solid;
        }

        .login-form {
          display: flex;
          flex-direction: column;
        }

        .login-form label {
          margin-bottom: 5px;
        }

        .login-form input {
          margin-bottom: 15px;
          padding: 8px;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 4px;
        }
        .login-form button {
          padding: 10px 20px;
        }
        .options {
          margin-top: 0px;
          text-align: right;
          font-size:smaller;
        }

        .options a {
          color: rgb(0, 0, 0);
        
        }

        .options a:hover {
          color: rgb(121, 121, 121);
        }

        .or{
          text-align: center;
          margin-top: 35px;
        }

        .register{
          text-align: center;
          margin-top: 50px;
        }
        .register a{
          color: black;
        }
        .register a:hover {
          color: rgb(121, 121, 121);
        }
    </style>
    
     <div class="container bg-light">
        <h1 class="title">Login</h1>
        <br><br><br>
        <form class="login-form" method="post">
          <label for="email"><b>Email:</b></label>
          <input type="email" id="email" name="email" placeholder="email@example.com" required>
          
          <label for="password"><b>Password:</b></label>
          <input type="password" id="password" name="password" placeholder="password" required>

          <label for="totp"><b>TOTP Code:</b></label>
          <input type="number" id="totp" name="totp" placeholder="123456" required>
          
          <button class="btn btn-dark " type="submit">Login</button>
        </form>
    
        <div class="options">
          <a href="#"><i>Forgot password?</i></a>
        </div>
        <div class="or">or</div>
        <div class="register">
          <a href="/register">Register here!</a>
        </div>
     </div>
{% endblock %}