{% extends "base.html.j2" %}
{% block title %}Passwords{% endblock %}
{% block content %}
<!-- Navigation bar -->
<style>
    .flash {
        margin-top: 80px !important;
        z-index: 40;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('view.home') }}">2-FA Password Manager</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view.addcredentials') }}"><b>Add Credentials</b></a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item me-3 me-lg-0">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link" data-bs-toggle="dropdown"
                            style="border-radius: 0 6px 6px 0;">
                            <a class="nav-link"><img src="{{ url_for('static', filename='images/profile-icon.png')}}" width="28"></a>
                        </button>
                        <div class="dropdown-menu">
                            {# <a href="{{ url_for('view.profile') }}" class="dropdown-item" title="Profile">Profile</a> #}
                            <a href="{{ url_for('auth.logout') }}" class="dropdown-item" title="Logout">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</nav>




<div class="container" style="margin-top: 100px;">
    <h2 class="display-4">Add Password</h2>
    <div class="row mb-3">
    </div>











    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('view.addcredentials') }}" autocomplete="off">
                <div class="form-group">
                    <label for="add-website"><b>Website:</b></label>
                    <input type="text" class="form-control" id="add-website" name="add-website" required>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <label for="add-username"><b>Username/email:</b></label>
                    <input type="text" class="form-control" id="add-username" name="add-username" required>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <label for="add-password"><b>Password:</b></label>
                    <input type="password" class="form-control" id="add-password" name="add-password" required>
                </div>
                <div style="margin-top: 15px;">
                    <a href="{{ url_for('view.home') }}" class="btn btn-secondary">Go Back</a>
                    <button type="submit" class="btn btn-success">Add Password</button>
                </div>
            </form>
        </div>
        <div class="col-md-6" style="margin-top: 153px;">
            <form method="POST" action="{{ url_for('view.addcredentials') }}" autocomplete="off">
                <div class="form-group">
                    <label for="check-password"><b>Check password:</b></label>
                    <input type="password" class="form-control" id="check-password" name="check-password" required>
                    <button type="submit" class="btn btn-info mt-3">Check Password</button>
                    <small class="form-text text-muted">
                        <i>Check if your password is <a href="https://haveibeenpwned.com/Passwords" target="_blank" style="color: inherit;">pwned</a></i>
                    </small>
                </div>
            </form>
        </div>
    </div>


</div>

{% endblock %}